html { 
    color: black;
    background-color: white; }
a { color: black; }
input {
    color: black;
    background-color: white; }
textarea {
    color: black;
    background-color: white; }
select {
    color: black;
    background-color: white; }
button {
    color: black;
    background-color: white; }
