html { 
    color: white;
    background-color: black; }
a { color: white; }
input {
    color: white;
    background-color: black; }
textarea {
    color: white;
    background-color: black; }
select {
    color: white;
    background-color: black; }
button {
    color: white;
    background-color: black; }

