html { 
    color: unset;
    background-color: unset; }
a { color: unset; }
input {
    color: unset;
    background-color: unset; }
textarea {
    color: unset;
    background-color: unset; }
select {
    color: unset;
    background-color: unset; }
button {
    color: unset;
    background-color: unset; }

